{% extends 'base.html' %} 
{% block content %}
<div id="download_div" style="display:none;">
    <br>
    <a target="_blank" id="download"><span >Click this link to download your recording!</span></a><br><br>
    <br>
    <input type=hidden id="downloadname" value="my_recording.mp4"><br><br>
<div class="container" id='nested_fd' style="float:center;">
        <div class="row">
            <div class="col">
                <h3>After you have downloaded your recording, reviewed it, and are satisfied that everything is OK, use the form below to upload your reaction to the Virtual Reakt servers :)</h3>
                <hr>
                
                <form method=post enctype=multipart/form-data>
                    <div class="form-group">

                        <div class="custom-file">
                            <input type=hidden name=user value="{{ current_user.username }}"><br><br> 
                            
                            <input type=hidden name=vid value="{{ video.path }}"><br><br> 
                            
                            <input type=hidden name=email value="{{ current_user.email }}"><br><br> 
                            
                            &nbsp&nbsp&nbsp&nbsp&nbspYour reaction:&nbsp&nbsp&nbsp&nbsp&nbsp<input
                            type=file name=file accept=".mp4,.mov"><br>
                        </div>
                    </div><br>
                    &nbsp&nbsp&nbsp&nbsp&nbsp<button type="submit" class="btn btn-primary">Upload</button>
                </form>
    
            </div>
        </div>
    </div>
</div>


<div id="viddiv" style="float:left;width: 50%;padding: 10px;">
    <video id="vid" style="text-align:center;position: relative;left: 50%;transform: translateX(-50%);" width="500em" height="450em"
        controls>
        <source src="{{ url_for('static', filename='uploads/content_vids/') }}{{ video.path }}" type="video/mp4"> Your browser does not support the video tag.
    </video>
    <button style="margin:0 auto;display: block;" id="record">Start recording</button>
    <button style="margin:0 auto;display: block;" id="stop">Stop</button>
</div><br><br>


<script src="{{ url_for('static', filename='js/reaction_rec.js') }}"></script> 
{% endblock %}