{% extends "base.html" %}

{% block content %}

<h1>Global Statistics for Video : {{ video.path }}</h1>
<span id="data_span1"  data-token="{{ token }}"></span>
<span id="data_span2"  data-ip="{{ host_ip }}"></span>
<span id="data_span3"  data-video_id="{{ video.id }}"></span>
<span id="data_span4"  data-uid="{{ user.id }}"></span>

<div id="viddiv" style="float:center;margin: auto;width: 30%;padding: 10pxx;">
        <video id="vid" style="text-align:center;position: relative;left: 50%;transform: translateX(-50%);" width="300em" height="250em"
            controls>
            <source src="{{ url_for('static', filename='uploads/content_vids/') }}{{ video.path }}" type="video/mp4"> Your browser does not support the video tag.
        </video>
    </div>

{% for reaction in video.reactions %}

<p>Reaction by : {{ reaction.reaktor }}</p>
<div id="chart_div_{{ loop.index }}" height="400px" width="400px" style="width:100%;height:100vh;position:relative;" data-chart="{{ reaction.reaction_string }}">
    <canvas id="myChart_{{ loop.index }}" width="400" height="400" style="position:absolute;top:0;bottom:0;right:0;left:0;margin:auto;"></canvas>
</div>

{% endfor %}

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/reaction_stats/stats_view.js') }}?{{ timestamp }}"></script>
{% endblock %}
